/* Styling Form */
form {
    margin: 20px 0;
}

form input, button {
    padding: 5px;
}

/* Styling Tabel */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse; /* Menggabungkan border sel yang berdekatan */
}

table, th, td {
    border: 1px solid #cdcdcd; /* Memberi border tipis */
}

table th, table td {
    padding: 10px;
    text-align: left;
}